.brewSpells__container {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  flex-wrap: wrap; 
  margin-left: 10px;
  margin-top: 10px; 
  max-height: 400px;
  overflow-y: scroll;
  color: gold;
  font-size: 1em;
  max-height: 400px;
  overflow-y: scroll;
  justify-content: space-between;

}



.brewSpells{
  flex-basis: 30%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
  flex-basis: 25%;
  width: 300px;
  color: gold; */


}

.spellForm__container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  padding: 1em;

}

.duration__caster{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  padding: 1em;

}

.brewSpells__form{
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}


.brewSpells__link {
  color: gold;
  text-decoration: none;
  font-family: Bradley Hand, cursive;
  font-size: 28px;
  font-weight: 300;
}
.brewSpells__link:hover{
  text-decoration:none !important;
  color: green;
}

.brewSpells__details{
  color: gold;
  font-size: 1em;
  margin: 0 auto;
  text-align: left;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  max-height: 400px;
  overflow-y: scroll;
}

.checkedCaster{
  margin: 0 auto;
  padding: 1em;
  width: 500px;
}
.brewSpells__description{
  word-break: normal;
  max-width: 1000px;
  white-space: pre-wrap;
}

.spell--description{
  min-height: 200px;
  overflow-y: scroll;


}