.brewSpells__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  color: gold; 
}

.brewSpells{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
  flex-basis: 25%;
  width: 300px;
  padding: 1em;
  color: gold;


}

.spellForm__container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  padding: 1em;

}

.duration__caster{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  padding: 1em;

}

.brewSpells__form{
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}


.brewSpells__link {
  color: gold;
  text-decoration: none;
  font-family: Bradley Hand, cursive;
  font-size: 50px;
  font-weight: 300;
}

.brewSpells__details{
  color: gold;
  text-decoration: none;
  font-size: 10px;
  max-width: 1000px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.checkedCaster{
  margin: 0 auto;
  padding: 1em;
  width: 500px;
}
.brewSpells__description{
  word-break: normal;
  max-width: 300px;
  white-space: pre-wrap;
}

.spell--description{
  min-height: 200px;
  overflow-y: scroll;


}