.OpenMonsters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;


}

.OpenMonsters {
    flex-basis: 25%;
    width: 300px;
    padding: 1em;
    color: gold;
    
    
}
    
.openMonsters__container {
   
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    flex-wrap: wrap; 
    margin: 0 auto;
    padding: 0;  
 } 

.monster {
  color: gold;

}

.monster__link{
  color: gold;
  
  text-decoration: none;
  font-family: Bradley Hand, cursive;
  font-size: x-large;
  font-weight: 300;


}




