/* spacing for list */
.OpenMonsters {
    flex-basis: 30%;
    padding: 1em;
}

/* overflow, use for other sections */
.openMonsters__container {
   
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    flex-wrap: wrap; 
    margin: 0 auto;
    padding: 0;  
    max-height: 400px;
    overflow-y: scroll;
 } 

.monster {
  color: gold;

}

.monster__link{
  color: gold;
  text-decoration: none;
  font-family: Bradley Hand, cursive;
  font-size: 1em;
}
.monster__link:hover{
    text-decoration:none !important;
    color: gold;
}

