.OpenSpells {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .OpenSpells {
    flex-basis: 22%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
} */

.spell {
  color: gold;

}

.openSpells__link {
  color: gold;
  
  text-decoration: none;
  /* font-style: italic; */
  font-family: Bradley Hand, cursive;
  font-size: x-large;
  font-weight: 300;

}