.brewMonsters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brewMonsters {
    flex-basis: 22%;
    margin: 1em;
    padding: 1em;
    /* border: 1px solid goldenrod; */
}

.brewMonsters__link{
  color: gold;
  
  text-decoration: none;
  /* font-style: italic; */
  font-family: Bradley Hand, cursive;
  font-size: x-large;
  font-weight: 300;

}

.actions{
  height: 50em;
  width: 200em;

}

.monster__actions{
  word-break: normal;
  max-width: 300px;
  white-space: pre-wrap;

}

.monster{
  margin-left: 40px;

}