/* 1-18 used to center form */

.brewMonsters__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  
}

.brewMonsters__form{
  display: inline-block;
  margin: 0 auto;
  text-align: left;

}

/* .brewMonsters {
    flex-basis: 22%;
    margin: 1em;
    padding: 1em;
   
} */


.brewMonsters__link{
  color: gold;
  text-decoration: none;
  font-family: Bradley Hand, cursive;
  font-size: 2em;
  font-weight: 300;

}

.actions{
  height: 50em;
  width: 200em;

}

/* when actions is generated to the DOM, will appear as it is typed */
.monster__actions{
  word-break: normal;
  max-width: 300px;
  white-space: pre-wrap;

}

.monster{
  margin-left: 40px;

}