
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
  
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-decoration-style: none;


    
}
.navbar__link {
    color:white;
    text-decoration: none;
    /* font-style: italic; */
    font-family: Bradley Hand, cursive;
    font-size: x-large;
    font-weight: 300;
}
