@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navbar__link {
    color: rgb(155, 152, 152);
    text-decoration: none;
    font-family: "Medievalsharp";
    font-size: 40px;
    font-weight: 1500 !important;

}
.navbar__link:hover{
    text-decoration:none !important;
    color: gold;

}
