
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-decoration-style: none;


    
}
.navbar__link {
    color: rgb(155, 152, 152);
    text-decoration: none;
    font-family: Bradley Hand, cursive;
    font-size: 32px;
    font-weight: 500;

}
.navbar__link:hover{
    text-decoration:none !important;
    color: gold;

}
