@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');



.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 20em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
   
    border-radius: .25rem;
   
}

.container--login {
    text-align: center;
    background-image: url("../Img/The Tavern.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    height: 800px;
    width: 1500px;
}

.theTavern {
    color: silver;
    text-decoration: none;
    font-family:  "Medievalsharp";
    font-size: 100px;
    font-weight: 300;
    margin-left: -35vw;
    
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin-left: -35vw;
}

.emailAddress{
    color: white;
}
.loginPassword{
    color: white;
}
.sign__in{
    color:black;
}
.notA--member{
    color: gold;
}
.link--register{
    margin-top: -100px;
}