html {
  background-color: rgb(24, 4, 4);

}

.worldList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background-image: url("../Img/Tavern-Bards Tale.jpg");
  background-size: stretch; 
  min-height: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
  height: 1000px;
  width: 1500px;


 }

.theWorld__link{

  color: gold;
   
   text-decoration: none;
   /* font-style: italic; */
   font-family: Bradley Hand, cursive;
   font-size: x-large;
   font-weight: 300;

}

.world__desc{
  margin-bottom: 150px;
 


}

.theWorldTheWorld{
  display: flex;
  flex-direction: column;
  
}

.theWorldDetail{
  color: gold;
  
  text-decoration: none;
  /* font-style: italic; */
  font-family: Bradley Hand, cursive;
  font-size: x-large;
  font-weight: 300;

}

.theWorldDetail__description{
  word-break: normal;
  max-width: 300px;
  white-space: pre-wrap;

}